// my sass styles

// header styles
header {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e3e3e3;

  .navigation {

    // clearfix
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.menu-item {
  list-style: none;
  display: block;
  float: left;
  position: relative;


  // bacha, hover musi byt na <li>, ne na <a>, jinak na neho nepujde kliknout
  &:hover {
    a + .sub-menu {
      display: block;
    }
  }
  
  a {
    padding: 30px;
    color: #4c7d5e;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
}

.menu-item-has-children {
  position: relative;

  &::after {
    content: '▼';
    position: absolute;
    right: 5px;
    top: 2px;
  }
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;

  .menu-item a {
    padding: 5px;
  }
}


// footer styles
footer {
  background-color: #e3e3e3;
  padding-top: 30px;
  padding-bottom: 30px;
}

// form styles
input {
  display: block;
}