@charset "UTF-8";
header {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e3e3e3;
}

header .navigation:after {
  content: "";
  clear: both;
  display: table;
}

.menu-item {
  list-style: none;
  display: block;
  float: left;
  position: relative;
}

.menu-item:hover a + .sub-menu {
  display: block;
}

.menu-item a {
  padding: 30px;
  color: #4c7d5e;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children::after {
  content: '▼';
  position: absolute;
  right: 5px;
  top: 2px;
}

.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
}

.sub-menu .menu-item a {
  padding: 5px;
}

footer {
  background-color: #e3e3e3;
  padding-top: 30px;
  padding-bottom: 30px;
}

input {
  display: block;
}
/*# sourceMappingURL=styles.css.map */