/* 
    Theme name: Zur Theme
    Author: Zur

    
    Notes: 
    - toto je hlavni css soubor
    - musi byt pojmenovane 'style.css'
    - theme name a author nazvy se propisou do popisku sablony ve wordpressu
    - pokud ma polozka menu subitems, wp ji prida tridu .menu-item-has-children

*/
